:root {
  --main-color: #212121;
  --second-color: #757575;
  --hover-color: #2196f3;
  --white-color: #ffffff;
  --new-color: #f5f4fa;
  --border: #eeeeee;
  --two-color: #2f303a;
  --end-color: #c4c4c4;
  --fill-color: #afb1b8;
  --close-color: #000000;
  --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Container*/
.header {
  padding: 32px 0px 32px 0px;
  border: 1px solid var(--border);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
/* Логотип */
.logo-link {
  font-family: 'Raleway', sans-serif;
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  animation-duration: 2500ms;
  animation-iteration-count: 1;
}
.logo-link > span {
  color: var(--hover-color);
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation .menu-link .contacts .tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu {
  display: flex;
  align-items: center;
  padding: 0px;
}
.menu-two {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0px;
}
.email-icon {
  display: inline-block;
  align-items: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.tel-icon {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.email-icon:hover,
.tel-icon:hover {
  color: var(--hover-color);
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-link {
  color: var(--second-color);
  transition: color 250ms var(--timing-func);
  text-decoration: none;
  box-shadow: 250ms var(--timing-func);
}
.current {
  top: 0;
  position: relative;
  color: var(--hover-color);
}
.current::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-color);
}
.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--main-color);
  fill: currentColor;
}
.contacts,
.tel-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color 250ms var(--timing-func);
}
.menu-link:hover,
.menu-link:focus,
.contacts:hover,
.contacts:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--hover-color);
}
/*Герой*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--two-color);
}
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/studio/team.img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--end-color);
}
.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*Кнопка*/
.modal-btn {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--hover-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: border-color 250ms var(--timing-func),
    color 250ms var(--timing-func), background-color 250ms var(--timing-func);
}
/*Особенности*/
.features {
  padding-bottom: 47px;
}
.features-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.item {
  width: 270px;
  margin-left: 30px;
  margin-top: 30px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--new-color);
  border-radius: 4px;
}
.features-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.features-content {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
/* Чем мы занимаемся */
.we-doing {
  padding-top: 47px;
}
.we-doing .we-doing-title {
  display: flex;
  justify-content: center;
  min-width: 376px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.doing-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.doing-list .description-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 370px;
  height: 60px;
  text-align: center;
  bottom: 0px;
  left: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.doing-list .doing-item {
  position: relative;
}
.doing-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
/* Наша команда */
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--fill-color);
  transition: fill 250ms var(--timing-func);
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms var(--timing-func),
    color 250ms var(--timing-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--hover-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white-color);
}
.our-team:nth-child(2n) {
  background-color: var(--new-color);
  margin-bottom: 0px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-list-item {
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 120px) / 4);
  background-color: var(--white-color);
}
.card {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team,
.our-team-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-content {
  margin-bottom: 16px;
  color: var(--second-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/*Постоянные клиенты*/
.clients {
  padding-top: 47px;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: -30px;
  margin-left: -30px;
}
.clients-list-item {
  margin-top: 30px;
  margin-left: 30px;
}

.clients-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--fill-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-func);
}
.clients-list-icon {
  fill: var(--fill-color);
  transition: fill 250ms var(--timing-func);
}
.clients-list-link:hover,
.clients-list-link:focus {
  color: var(--fill-color);
  border-color: var(--hover-color);
}
.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--hover-color);
}
/*Присоединяйтесь*/
.footer-container {
  display: flex;
  align-items: baseline;
}
.network {
  margin-left: 70px;
  max-width: 1200px;
}
.network-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}
.network-list {
  display: flex;
}
.network-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--fill-color);
  transition: fill 250ms var(--timing-func);
}
.network-list-item:not(:first-child) {
  margin-left: 10px;
}
.network-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--fill-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-func);
}
.network-list-link:hover,
.network-list-link:focus {
  background-color: var(--hover-color);
}
.network-list-link:hover .network-list-icon,
.network-list-link:focus .network-list-icon {
  fill: var(--white-color);
}
/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--two-color);
  flex-direction: column;
}
/*Футер логотип*/
.footer .logo-link-two {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer .logo-color {
  color: var(--white-color);
}
.logo-link-two > span {
  color: var(--hover-color);
}
.footer-list {
  display: inline-block;
}
/* Адресс */
.map-link {
  min-width: 231px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}
.map-link,
.contacts-two {
  display: inline-block;
}
.address:hover {
  color: var(--white-color);
}
.contacts-two,
.tel-link-two {
  font-style: normal;
  color: var(--second-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-func);
}
.tel-link-two .contacts-two {
  color: rgba(255 255 255 0.6);
}
.footer,
.address,
.contacts-two:hover,
.tel-link-two:hover {
  color: var(--hover-color);
}
.address-link:not(:last-child) {
  margin-bottom: 9px;
}
/* Портфолио */
.main {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.techno {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0px;
}
.techno-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 9);
  transition: box-shadow 250ms var(--timing-func);
}
.techno-item:hover,
.techno-item:focus,
.techno-link:hover,
.techno-link:focus {
  box-shadow: var(--portfolio-shadow);
  transition: box-shadow 250ms var(--timing-func);
}
.techno-link {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.025));
}
.team-list-img-wrapper:hover,
.team-list-img-wrapper:focus {
  box-shadow: var(--portfolio-shadow);
}
.card-container {
  padding: 20px 24px;
  border: 1px solid var(--border);
  box-sizing: border-box;
  border-top: 0;
  background-color: var(--white-color);
}
/* Уникальный Контент */
/* Кнопка*/
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio .btn-filter {
  background-color: var(--new-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 1px solid var(--border);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  box-shadow: 250ms var(--timing-func);
  transition: transform 250ms var(--timing-func);
}
.btn-filter:hover,
.btn-filter:focus,
.btn-filter:active {
  color: var(--white-color);
  background-color: var(--hover-color);
  box-shadow: 250ms var(--timing-func);
  transition: color 250ms var(--timing-func);
  transition: transform 250ms var(--timing-func);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio .portfolio-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.portfolio .portfolio-content {
  color: var(--second-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/*Overlay*/
.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  width: 100%;
  height: 100%;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
}
.techno-link:hover .overlay,
.techno-link:focus .overlay {
  transform: translateY(0%);
  transition: transform 250ms var(--timing-func);
}
/*Подписаться*/
.subscribe {
  margin-left: 93px;
}
.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-form-head {
  color: var(--white-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  outline: none;
  transition: transform 250ms var(--timing-func);
}
.footer-form-input:focus {
  border-color: var(--hover-color);
  transition: transform 250ms var(--timing-func);
}
.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: 12px;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--timing-func),
    box-shadow 250ms var(--timing-func);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  transition: transform 250ms var(--timing-func);
}
.footer-btn-icon {
  fill: var(--white-color);
  margin-left: 10px;
}
/*Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-func),
    visibility 250ms var(--timing-func);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  z-index: 100;
  border-radius: 4px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%);
  padding: 40px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-close-btn {
  position: absolute;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  transition: transform 250ms var(--timing-func);
}
.close-btn-icon {
  color: var(--close-color);
  width: 11px;
  height: 11px;
  
}
.modal-close-btn:hover .close-btn-icon,
.modal-close-btn:focus .close-btn-icon {
  fill: var(--hover-color);
  transition: transform 250ms var(--timing-func);
}
/*Форма*/
.modal-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--white-color);
}
.mode-form-head {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--main-color);
}
.modal-label-field {
  margin-bottom: 10px;
  color: var(--second-color);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}
.modal-form-input:focus {
  border-color: var(--hover-color);
  outline: none;
  transition: transform 250ms var(--timing-func);
}
.modal-form-input:focus + .form-icon {
  fill: var(--hover-color);
  transition: transform 250ms var(--timing-func);
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  transition: transform 250ms var(--timing-func);
  border-radius: 4px;
  box-sizing: border-box;
}
/*Валидность
.modal-form-input:required:focus:not(:placeholder-shown):valid {
  border-color: green;
}
.modal-form-input:required:focus:not(:placeholder-shown):invalid{
border-color: red;
}
*/
.form-icon {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--main-color);
}
.modal-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}
.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-comment:focus {
  border-color: var(--hover-color);
  outline: none;
  transition: transform 250ms var(--timing-func);
}
.modal-form-checkbox-policy::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 8px;
  border:2px solid var(--main-color);
  border-radius: 3px;
} 
.modal-form-checkbox-policy {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  }
.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url('../images/checked.svg');
  background-color: var(--hover-color) ;
  border-color:var(--hover-color);
  transition: transform 250ms var(--timing-func);

}
.modal-form-checkbox:focus + .modal-form-checkbox-policy::before {
  outline-color: var(--hover-color);
  transition: transform 250ms var(--timing-func);
  outline: none;
}
.modal-form:focus + .modal-form-checkbox::before {
  transition: transform 250ms var(--timing-func);
  outline: none;
  border-color: var(--main-color);
}
.modal-form-policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--hover-color);
}
.checkbox{
  position: relative;
}
.modal-form-btn {
  align-self: center;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  min-height: 50px;
  transition: background-color 250ms var(--timing-func);
  cursor: pointer;
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: transform 250ms var(--timing-func);
}
