.close-btn-icon {
    color: var(--close-color);
    width: 11px;
    height: 11px;
    
    }
.modal-close-btn:hover .close-btn-icon,
.modal-close-btn:focus .close-btn-icon {
    fill: var(--hover-color);
    transition: transform 250ms var(--timing-func);
    }