.logo-link {
    font-family: 'Raleway', sans-serif;
    width: 145px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
    animation-duration: 2500ms;
    animation-iteration-count: 1;
}
.logo-link > span {
    color: var(--hover-color);
}