.main {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.techno {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0px;
}
.techno-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 9);
    transition: box-shadow 250ms var(--timing-func);
}
.techno-item:hover,
.techno-item:focus,
.techno-link:hover,
.techno-link:focus {
    box-shadow: var(--portfolio-shadow);
    transition: box-shadow 250ms var(--timing-func);
}
.techno-link {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.025));
}
.team-list-img-wrapper:hover,
.team-list-img-wrapper:focus {
    box-shadow: var(--portfolio-shadow);
}
.card-container {
    padding: 20px 24px;
    border: 1px solid var(--border);
    box-sizing: border-box;
    border-top: 0;
    background-color: var(--white-color);
}